.sidebar{
    position: relative;
    top: 120px; 
    display: inline;
    /* padding-top: 120px; */
}
.sidebar__container{
    position: relative;
    /* background-color: white; */
    z-index: 99;
    min-width: 80px;
    min-height: 470px;
    width: 110px;
    /* width: 7%; */
    height: 470px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 100px 100px 0px;
    justify-content: center;
}
.sidebar__container::before{
    content: "";
    background-color: white;
    opacity: 0.70;
    position: absolute;
    top:0; 
    left:0; 
    right:0; 
    bottom:0;
    border-radius: 0px 100px 100px 0px;
}
.sidebar__button{
    position: relative;
    right: 5px;
    z-index: 100;
    width: 3.75rem;
    height: 3.75rem;
    margin: 20px;
    border: 1px solid #354477;
    border-radius: 18px;
    background-color: transparent;
}
.sidebar__button:hover{
    background: #354477;
    /* box-shadow: 2px 2px 3px 3px #354477; */
}